body{
    font-family:"Montserrat";
    text-align:center;
}



p{
    color:#8f8f8f;
    font-weight:bold;
}



h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-Bold"; 
}


.big-heading{
    font-family:"Montserrat-black";
    font-size:5.5rem;
    line-height:1.25;
    font-weight:bold;

}

.section-heading{
    font-size:3rem;
    line-height:1.5;
}

/* Containers */

.container-fluid{
    padding-top:7%;
    padding-bottom:7%;
    padding-left:15%;
    padding-right:15%;
}
/* 
Sections */

.colored-section{
    background-color:#ff4c68;
    color:white;

}


.white-section{
    background-color:white;
}

/* Navigation Bar */

.navbar{
    padding-top:0;
    padding-bottom:4.5rem;
    padding-left:0;
    padding-right:0;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight:bold;
    
}

.nav-item{
    padding-top:0;
    padding-bottom:0;
    padding-left:18px;
    padding-right:18px;
}

.nav-link{
    font-size:1.2rem;
    font-family:"Montserrat-light";
}


/* 
Title section */


#title .container-fluid{
    padding-top:1%;
    padding-bottom:7%;
    padding-left:15%;
    padding-right:15%;
    text-align:left;
}



/* buttons */


.download-button{
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 1%;
    margin-right: 1%;
}

/* 
title image */

.title-image{
    width:23%;
    transform: rotate(25deg);
    position:absolute;
    right:25%;
    top:18%;
}
/* 
Feature Section */

#features{
    
    position:relative;
    z-index:1;
}

.feature-box{
    text-align: center;
    padding:2%;

}

.feature-title{
    font-size:1.5rem;
}



.icon{
    color:#ef8172;
    margin-bottom: 1rem;

}

.icon:hover{
    color:#ff4c68;
}

/* 
Testimonial Section */


#testimonials{
   
    background-color: #ef8172;
}

.testimonial-image{
    width:10%;
    border-radius:100%;
    margin:20px;

}

.testimonial-text{
    font-size:3rem;
    line-height:1.5;
}

em{
    font-weight:bold;
}


#press{
    background-color:#ef8172;
    padding-bottom:3%;


}

.press-logo{
    width:15%;
    margin-top:20px;
    margin-bottom: 50px;
    margin-left:20px;
    margin-right: 20px;

}


.carousel-item{

}
/* 
Pricing section */


.price-text{
    font-size:3rem;
    line-height:1.5;
}




CTA Section */

#cta{
}

.cta-heading{
    font-family:"Montserrat-black";
    font-size:3.5rem;
    line-height:1.5;
}

@media (max-width:1028px) {
    .title-image{
        position:static;
        transform:rotate(0);
    }
    #title{
        text-align:center;
    }
}

/* 
footer section */

#footer{
    text-align:center;
}

.social-icon{
    margin-top:20px;
    margin-bottom: 20px;
    margin-left:10px;
    margin-right: 10px;

}